body{
    background-color: gray;
}

.header-box{
    overflow: hidden;
    width: 90%;
    margin-left: 5%;
    height: 11vh;
    border-radius: 5vh;
    background-color: red;
}

.header{
    overflow: hidden;
    color: white;
    text-align: center;
    font-size: 10vh;
    margin-top: 0vh;
}

.meme-box{
    overflow: hidden;
    background-color: red;
    width: 80%;
    margin-left: 10%;
    height: 80vh;
    margin-top: 4vh;
    border-radius: 5vh;
    text-align: center;
}

.meme-title{
    overflow: hidden;
    text-align: center;
    color: white;
    font-size: 5vh;
    margin-top: 5vh;
}

.meme{
    width: 70%;
    height: 60vh;
}
